header {position:fixed;top:60px;left:60px;z-index:999;}

nav {position:fixed;bottom:60px;right:60px;z-index:999;width:40px;}

nav li {position:relative;}

nav li a {display:block;text-indent:-9999px;}
nav li a:after {content:"";display:block;width:50%;height:3px;background:#333;position:absolute;top:6px;right:0;transition:0.2s;}
nav li.on a:after {width:100%;}


@media(max-width:768px) {
header {position:fixed;top:30px;left:30px;z-index:999;}
nav {position:fixed;bottom:30px;right:30px;z-index:999;width:40px;}
nav li {position:relative;}

nav li a {display:block;text-indent:-9999px;}
nav li a:after {content:"";display:block;width:50%;height:3px;background:#333;position:absolute;top:6px;right:0;transition:0.2s;}
nav li.on a:after {width:100%;}
}



.m01 {background:url(./page01_bg.png);}
.m01 .txt {position:absolute;top:40%;left:25%;width:auto;transform:translate(-50%,-50%);color:#333;}
.m01 .txt h2 {font-size:40px;font-weight:900;margin-bottom:20px;}
.m01 .txt p {font-size:14px;font-weight:300;}


@media(max-width:768px) {
    .m01 {background:url(./page01_bg.png);width:0 auto;}
    .m01 .txt {position:absolute;top:50%;left:50%;width:100%;transform:translate(-50%,-50%);color:#333;}
    .m01 .txt h2 {font-size:40px;font-weight:900;margin-bottom:20px;}
    .m01 .txt p {font-size:14px;font-weight:300;}
    
}



.section.on {transition:0.4s;}

.section .container {display:flex;width:1200px;margin:0 auto;}
.section .container>* {flex:1;}

.section .txt {padding:190px 0 0 30px;letter-spacing:-0.75px;}
.section .txt h2 {font-size:40px;font-weight:900;margin-bottom:20px;letter-spacing:-0.75px;}
.section .txt p {font-size:14px;font-weight:300;margin-top:10px;letter-spacing:-0.75px;}
.section .txt strong {font-size:20px;font-weight:400;letter-spacing:-0.75px;}

.section video {width:100%;}

@media(max-width:768px) {
    
    .section.on {transition:0.4s;}
    .section .container {display:flex;flex-direction:column;width:100%;margin:0 auto;}
    .section .container>* {flex:1;}
    .section .txt {padding:50px 30px 50px 30px;}
    .section .txt h2 {font-size:40px;font-weight:900;margin-bottom:20px;}
    .section .txt p {font-size:14px;font-weight:300;}
    .section .txt i {font-size:30px;}
   
}


.pf01 figure {position:relative;}

.pf02 figure {order:2;position:relative;}
.pf02 .txt {text-align:right;margin:0 60px;}

@media(max-width:768px) {
    .pf02 figure {order:-1;background-size:100% 100%;}
    .pf02 .txt {text-align:left;}
}




/*pf04슬라이더 01*/
.pf04 .pt_slider {margin:0 auto; width:1200px;z-index:999;}
.pf04 .pt_slider figure {padding:90px 5px 0 0;}

.pf04 h3 {font-size:40px;font-weight:900;width:1200px;margin:0 auto;letter-spacing:-3px;}
.pf04 i {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) rotate(270deg);font-size:50px;cursor:pointer;}
.pf04 i.xi-caret-down-square {color:#333;margin-left:700px;}
.pf04 i.xi-caret-up-square {color:#333;margin-left:-700px;}

@media(max-width:768px) {
    .pf04 .pt_slider {margin:0 auto; width:auto;z-index:999;}
    .pf04 .pt_slider figure {padding:70px 10px;}

    .pf04 {overflow:hidden;}
    .pf04 i {display:none;}
    .pf04 h3 {padding-left:10px;}
}

.pf04 .slick-dots {text-align:center;}
.pf04 .slick-dots button {display:none;}
.pf04 .slick-dots li {display:inline-block;width:12px;height:12px;background:#333;border-radius:50%;margin:30px 4px;}
.pf04 .slick-dots li.slick-active {background:rgb(185, 185, 185);}


/***pf05 슬라이더02 **/
.pf05 .pt_slider02 {margin:0 auto; width:1200px; z-index:999;}
.pf05 .pt_slider02 figure img {width:100%;}

.pf05 h3 {font-size:40px;font-weight:900;width:1200px;margin:0 auto;padding-bottom:80px;letter-spacing:-3px;}
.pf05 .txt02 {text-align:center;margin:40px 0px 0 0;}
.pf05 h2 {font-size:30px;font-weight:900;padding-bottom:20px;letter-spacing:-0.75px;}
.pf05 span {font-size: 17px;font-weight:500;letter-spacing:-0.75px;line-height:2;}
.pf05 p {font-size:15px;font-weight:400;letter-spacing:-0.75px;}
.pf05 i {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)rotate(270deg);font-size:50px;cursor:pointer;}
.pf05 ul {padding-bottom:20px;}
.pf05 strong {font-size:15px;display:block;margin:0 auto;width:110px;border:1px solid#666;line-height:30px;letter-spacing:-0.75px;}
.pf05 strong:hover {background:#333;font-weight:400;color:#fff;}
.pf05 i.xi-caret-down-square {color:#333;margin-left:700px;}
.pf05 i.xi-caret-up-square {color:#333;margin-left:-700px;}

@media(max-width:768px) {
    .pf05 .pt_slider02 {margin:0 auto; width:auto;z-index:999;}
    .pf05 .pt_slider02 figure {padding:0 10px;}
    .pf05 i {display:none;}
    .pf05 h3 {padding-left:20px;}
}
.info {background:#333;color:#f2f2f2;text-align:center;}
.info .txt {flex:3;align-items:center;padding:25px 0;font-size:13px;font-weight:300;}

@media (max-width:768px) {
    .info {background:#333;color:#f2f2f2;text-align:right;padding:20px 0;}
    .info .txt {flex:3;align-items:center;padding:30px 30px;font-size:12px;text-align:center;}
}


footer {position:fixed;bottom:60px;left:60px;z-index:999;}
footer .mbr {display:none;}



#mopen {position:fixed;top:60px;right:60px;width:30px;height:30px;overflow:hidden;z-index:1001;cursor: pointer;}
#mopen>span {position:absolute;width:100%;height:3px;left:0;background:#333;transition:0.3s;}
#mopen>span:nth-child(1) {top:0;}
#mopen>span:nth-child(2) {top:10px;}
#mopen>span:nth-child(3) {top:10px;}
#mopen>span:nth-child(4) {top:20px;}

#mopen.on>span:nth-child(1) {left:100%;}
#mopen.on>span:nth-child(2) {transform:rotate(45deg);}
#mopen.on>span:nth-child(3) {transform:rotate(-45deg);}
#mopen.on>span:nth-child(4) {left:-100%;}

@media (max-width:768px) {
    footer {position:fixed;bottom:30px;left:30px;z-index:999;font-size:12px;}
    footer .mbr {display:block;}
    #mopen {position:fixed;top:30px;right:30px;width:20px;height:20px;overflow:hidden;z-index:1001;cursor: pointer;}
    #mopen>span {position:absolute;width:100%;height:3px;left:0;background:#333;transition:0.3s;}
}


#cover_nav {position:fixed;top:0;right:0;background:#f1e5f6;width:100%;height:0;overflow:hidden;transition:0.5s;z-index:1000;color:#333;}
#cover_nav.on {height:100vh;}
#cover_nav .container {display:flex;position:absolute;top:50%;left:50%;width:1200px;transform:translate(-50%,-50%);}
#cover_nav .container>* {flex:1;padding:0 40px;}

#cover_nav img {border-radius:50%;overflow:hidden;}
#cover_nav .txt {margin:100px 0;}
#cover_nav hr {margin:50px 0;border:none;border-top:1px dashed #333;}

#cover_nav .txt h3 {font-size:30px;font-weight:100p;letter-spacing:1rem; text-transform:uppercase; margin-bottom:30px;}
#cover_nav .txt li {font-size:15px;padding-bottom:3px;letter-spacing:-0.25px;}
#cover_nav .txt i {font-size:20px;padding-right:3px;}



#cover_nav .link li {line-height:1.5;text-transform:uppercase;letter-spacing:-0.25px;}
#cover_nav .link li:before {content: "\ec34";;font-family:xeicon!important;margin-right:20px;color:#333;font-size:20px;vertical-align:middle;transition:0.2s;}
#cover_nav .link li:hover:before {color:rgb(165, 81, 233);margin-right:40px;}
#cover_nav .link li:hover:after {content:"MORE";font-size:10px;margin-left:30px;color:#999;}

@media (max-width:768px){
    #cover_nav {position:fixed;top:0;right:0;background:##f1e5f6;width:100%;height:0;overflow:hidden;transition:0.5s;z-index:1000;color:#333;}
    #cover_nav.on {height:100vh;}
    #cover_nav .container {display:flex;flex-direction:column;position:absolute;top:50%;left:50%;width:100%;transform:translate(-50%,-50%);}
    #cover_nav .container>* {flex:1;padding:0 20px;}


    #cover_nav img {width:100%;border-radius:50%;overflow:hidden;}
    #cover_nav .txt {margin:30px 0;}
    #cover_nav hr {margin:20px 0;border:none;border-top:1px dashed #333;}

    #cover_nav .txt h3 {font-size:24px;font-weight:100;letter-spacing:1rem; text-transform:uppercase; margin-bottom:30px;}
    #cover_nav .txt p {font-size:14px;font-weight:300p;line-height:1.4;}


    #cover_nav .link li {font-size:14px;line-height:1.4;text-transform:uppercase;}
    #cover_nav .link li:before {content: "\ec34";;font-family:xeicon!important;margin-right:20px;color:#333;font-size:20px;vertical-align:middle;transition:0.2s;}
    #cover_nav .link li:hover:before {color:rgb(138, 59, 202);margin-right:40px;}
    #cover_nav .link li:hover:after {content:"More";font-size:10px;margin-left:30px;color:#999;}
    }





